<% if task.errors.present? %>
  <ul>
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %>
    <% end %>
  </ul>
<% end %>
<%= form_with model: task do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "内容" %>
    <%= form.text_field :content %>
  </div>
  <div>
  <%= form.label :priority, "優先順位" %>
  <%= form.select :priority, Task.priorities.keys, class:"form-control" %>
</div>
  <div>
    <%= form.label :status, "ステータス" %>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] ,class:"form-control" %>
  </div>
    <%= form.label :content, "終了期限" %>
    <%= form.date_field :enddate %>
  </div>

  <div class="field">
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <div>
    <%= form.submit "保存" %>
  </div>
<% end %>


