<h2>タスク詳細</h2>

<h3>タイトル</h3>

<p><%= @task.title %></p>

<h3>内容</h3>

<p><%= @task.content %></p>

<h3>ステータス</h3>

<p><%= @task.status %></p>

<h3>優先順位</h3>

<p><%= @task.priority %></p>

<h3>ラベル</h3>

<p><% @task.labels.each do |label| %></p>
<span class="task-name"><%= label.name %></span>
<% end %>

<h3>終了期限</h3>

<p><%= @task.enddate %></p>

<%= link_to "一覧へ", tasks_path %>
